<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navbar navbar-light">
    	  	<h1 class="bigtext">Plentyful <i class="fa fa-leaf" aria-hidden="true"></i><h1>
    </nav>
    <div class="container-fluid">
    	<div class="row">
    		<div class="big-div">
    			<header id="big-picture">
    			</header>
  			</div>
  			<div class="food-place col-md-8 col-sm-12">
					<main>
						<div class="row">
							<section class="dish-type" id="entrees">
								<h2>Entrées</h2>
								<div class="menu-item col-md-3 col-md-offset-1" data-id="1" data-price="25.99">
									<header><img class="img-responsive" src="http://1ajvmf3xekdd2r35dh3pklbl.wpengine.netdna-cdn.com/wp-content/uploads/2017/03/Garlicky-Cashew-Broccoli-Tofu-Stir-Fry-3991-6491-320x320.jpg" alt="Sesame fried Tofu"></header>
									<p class="price">$25.99</p>
									<main>
										<span class="menu-item-title">Sesame fried Tofu and Broccoli</span>
										<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
										</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1" data-id="2" data-price="19.99">
									<header><img class="img-responsive" src="#"></header>
									<p class="price">$19.99</p>
									<main>
										<span class="menu-item-title">Spicy Apricot Sauce Tempeh</span>
										<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
										</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1" data-id="3" data-price="17.99">
									<p class="price">$17.99</p>
									<main>
										<span class="menu-item-title">Squash spaghetti chow mein</span>
										<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
										</div>
									</main>
								</div>
								<div class="clearfix menu-item col-md-3 col-md-offset-1">
									<header><img class="img-responsive" src="http://1ajvmf3xekdd2r35dh3pklbl.wpengine.netdna-cdn.com/wp-content/uploads/2017/03/Spicy-Sriracha-Nourish-Bowl-649-3-2619-320x320.jpg" alt=""></header>
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
							</section>
						</div>

					<row class="row">
						<section class="dish-type" id="desserts">
							<h2>Desserts</h2>
								<div class="menu-item col-md-3 col-md-offset-1">
									<header><img class="img-responsive" src="http://1ajvmf3xekdd2r35dh3pklbl.wpengine.netdna-cdn.com/wp-content/uploads/2017/02/Vegan-Mediterranean-Pesto-Pizza-649-2202-320x320.jpg" alt=""></header>
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
						</section>
					</row>

					<row class="row">
						<section class="dish-type" id="beverages">
							<h2>Beverages</h2>
														<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
								<div class="menu-item col-md-3 col-md-offset-1">
									<span class="price">$9.99</span>
									<main>
									<span class="menu-item-title">Entree title</span>
									<div class="pull-right">
											<i class="fa fa-minus-circle" aria-hidden="true"></i>
											<span class="itemqty">0</span>
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									</main>
								</div>
						</section>
					</row>

					</main>
    		</div>
    		<div class="col-md-3 col-md-offset-1 col-sm-12 sidebar">
    			<aside>
					<div class="cart-title">
						<p class="text-center"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Your order</p>
					</div>
					<div class="order-menu">
						<ul class="cart-items">	
						</ul>
						<div class="order-actions">
							<p>Total price: CAD <span class="total-price">0</span></p>
							<form action="">
								<input type="submit" value="Place order" class="pull-right">
							</form>
						</div>
					</div>
    			</aside>
    		</div>
    	</div>
    	<button id="xunda">Xunda</button>
    	<footer>Developed by ... </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
