body {
	background-color: #f2f2f4;
	font-family: 'Carrois Gothic', serif;
}
body,html {
	height:100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

div.spacer {
	color: #f2f2f4;
}

section.dish-type h2 {
	padding-left: 35px;
}

div.menu-item {
	background-color: #ffffff;
	position:relative;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 5px;
	margin-bottom: 30px;
	font-size: 15px;
  &.classWithShadow {
    box-shadow: 3px 3px 10px 2px #888888;
 	}
	span.price {
		background-color: rgba(255,255,255,0.5);
		position: absolute;
		font-size: 1em;
		margin-left: 5px;
	}
	.menu-item-title {
		margin-top: 5px;
		margin-left: 5px;
	}
	/* Plus and minus buttons */
	i.fa {
		cursor: pointer;
	}
	i.fa-plus-circle {
		margin-right: 10px;
	}
}

header#big-picture {
	height:400px;
	background-image: url('https://i.ytimg.com/vi/7zX0GJ1DO4A/maxresdefault.jpg');
	background-size: cover;
	background-position: fixed;
	width:100%;
	position:relative;
}

/*section#entrees {
	position: relative;
	top:4em;
}
*/
nav.navbar {
	position:fixed;
	top:0;
	width:100%;
	z-index: 2;
	background-color: #ffffff;
	border-radius: 0px;
	.bigtext {
		margin-left: 35px;
		color: #000000;
		.fa-leaf {
			color: yellowgreen !important;
		}
		.admin {
			margin-right: 35px;
		}
	}
}

div.sidebar {
	margin-left: 85px;
	top:60px;
	div.cart-title {
		width: 100%;
		font-size: 2.5em;
		background-color: #ffffff;
		color: #000000;
	}
	.cart-title {
		padding-bottom: 1px;
		padding-top: 5px;
	}
	ul.cart-items {
		list-style-type: none;
		padding: 10px;
	}
	div.order-menu {
		height: 25em;
		background-color: white;
		position: relative;
		overflow-y: scroll;
		div.order-actions {
			padding: 10px;
			position: absolute;
			bottom:0;
			width: 100%;
			background-color: #ffffff;
			button.place-order-btn {
				margin: 5px;
				margin-left: 10px;
				margin-bottom: 10px;
			}
		}
		.user-info-section {
			display: none;
			margin: 10px;
		}
	}
}


