body {
	background-color: #f2f2f4;
	font-family: 'Carrois Gothic', serif;
}
body,html {
	height:100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

div.spacer {
	color: #f2f2f4;
}


div.menu-item {
	background-color: #ffffff;
	position:relative;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 10px;
	font-size: 15px;
	min-height: 260px;
  &.classWithShadow {
    box-shadow: 3px 3px 10px 2px #888888;
 	}
	div.price {
		float: right;
		background-color: rgba(255,255,255,0.5);
		position: absolute;
		right: 0;
		top: 0;
		font-size: 1em;
	}
	/* Plus and minus buttons */
	i.fa {
		cursor: pointer;
	}
}

header#big-picture {
	height:400px;
	background-image: url('https://i.ytimg.com/vi/7zX0GJ1DO4A/maxresdefault.jpg');
	background-size: cover;
	background-position: fixed;
	width:100%;
	position:relative;
}

/*section#entrees {
	position: relative;
	top:4em;
}
*/
nav.navbar {
	position:fixed;
	top:0;
	width:100%;
	z-index: 2;
	background-color: #ffffff;
	border-radius: 0px;
	.bigtext {
		color: #000000;
		.fa-leaf {
			color: yellowgreen !important;
		}
	}
}

div.sidebar {
	/*position:fixed;*/
	top:60px;
	/*right:0px;*/
	padding: 0px;
	div.cart-title {
		width: 100%;
		font-size: 2.5em;
		background-color: #ffffff;
		color: #000000;
	}
	div.order-menu {
		height: 25em;
		background-color: white;
		position: relative;
		overflow-y: scroll;
		div.order-actions {
			position: absolute;
			bottom:0;
			width: 100%;
			background-color: #f2f2f4;
			border-width: 2px;
			border-style: solid;
			border-color: #ffffff;
		}
	}
}


